<html>
<head>
  <style type="text/css">
    body {
					background-color: powderblue;
					margin: 0 auto;
		}
    table, td, th{
      border: 1px solid black;
    }

    table {
            border-collapse: collapse;
    }
    td, th {
        padding: 0.5rem;
        text-align: left;
    }
		header {
  		background-color: #466995;
  		border-bottom: 1px solid #466995;
  		width: 100%;
		}
		li{
			color: white;
			display: inline-block;
			width: 200px;
		}
    h1{
  		font-family: Georgia;
      color: blue;
  	}
    </style>
</head>
<body>
<center>

<nav>
	 <header>
	    <ul>
	      <a href ="/home"><li>HOME</li></a>
				<a href ="/friendgroup"><li>FRIENDS</li></a>
				<a href ="/home"><li>SHARED/GEO POSTS</li></a>
	    </ul>
	  </header>
</nav>

<center>
<h1>Welcome {{name.fname}} {{name.lname}}!</h1>

<form action="/post" method="POST">
	<input type="text" name = "post_name" placeholder="Post Name" required/>
  File Path: <input type="text" name="file_path" placeholder="File Path" />
  Public: Yes<input type="radio" name = "public" value = "1" />
  No<input type="radio" name = "public" value = "0" checked/>
	<input type="submit" value = Post />
</form>



<br>
Here are the public posts:

<table>
  <th>Item ID</th>
	<th>Email Post</th>
	<th>Post Time</th>
	<th>File Path</th>
	<th>Item Name</th>

  {% for line in posts %}
  	<tr>
  		<form action="/show_publicposts" method="POST">
  		<td><input type="submit" name ="post" value = "{{line.item_id}}" /></td>
  		<td><input type="hidden" name ="poster" value = "{{line.email_post}}" />{{line.email_post}}</td>
  		<td>{{line.post_time}}</td>
  		<td>{{line.file_path}}</td>
  		<td>{{line.item_name}}</td>
      </form>
  	</tr>
  {% endfor %}

</table>

<br>
Here are your posts:

<table>
  <th>Item ID</th>
	<th>Email Post</th>
	<th>Post Time</th>
	<th>File Path</th>
	<th>Item Name</th>

{% for line in posts_user %}
	<tr>
		<form action="/show_posts" method="POST">
		<td><input type="submit" name ="post" value = "{{line.item_id}}" /></td>
  	</form>
		<td>{{line.email_post}}</td>
		<td>{{line.post_time}}</td>
		<td>{{line.file_path}}</td>
		<td>{{line.item_name}}</td>

	</tr>
{% endfor %}
</table>

<br>

Tags Awaiting Approval:
<table>
  <th>Item ID</th>
	<th>Tagger</th>
	<th>Accept or Decline Tag</th>

{% for line in tags %}
	<tr>
    <form action="/tag_ad" method="POST">
		<td><input type = 'hidden' name ="item" value ="{{line.item_id}}">{{line.item_id}}</input></td>
		<td>{{line.email_tagger}}</td>
		<td>Accept:<input type="radio" name = "tag" value = "1" />
    Decline:<input type="radio" name = "tag" value = "0" />
    <input type="submit" value = Submit /></td>
  	</form>
	</tr>
{% endfor %}
</table>

<br>
<a href="/logout">Logout</a>
</center>
</body>


</html>
