<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<center>
	<h1>Welcome {{username}} </h1>
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<br>
Here are the most recent public posts in the last 24 hours:

<table>
  <th>Item ID</th>
	<th>Email Post</th>
	<th>Post Time</th>
	<th>File Path</th>
	<th>Item Name</th>

{% for line in posts %}
	<tr>
		<td>{{line.item_id}}</td>
		<td>{{line.email_post}}</td>
		<td>{{line.post_time}}</td>
		<td>{{line.file_path}}</td>
		<td>{{line.item_name}}</td>

	</tr>
{% endfor %}
</table>

<br>

<br>
Here are your posts:

<table>
  <th>Item ID</th>
	<th>Email Post</th>
	<th>Post Time</th>
	<th>File Path</th>
	<th>Item Name</th>

{% for line in posts_user %}
	<tr>
		<td>{{line.item_id}}</td>
		<td>{{line.email_post}}</td>
		<td>{{line.post_time}}</td>
		<td>{{line.file_path}}</td>
		<td>{{line.item_name}}</td>

	</tr>
{% endfor %}
</table>

<br>

<a href="/logout">Logout</a>
</center>
</body>


</html>
