<html>
<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
        
    <style type="text/css">
    body {
        background-color: powderblue;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    input[type="submit"] {
        background-color: #75a7f9;
        border: solid;
        color: white;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        margin: 1px 1px;
        cursor: pointer;
        border-radius: 25px;
    }
    </style>
</head>
<body>
<center>
<form action="/loginAuth" method="POST">
    <h1>Login</h1>
	<input type="email" name="email" placeholder="email" required/> </br>
	<input type="password" name="password" placeholder="password" required/> </br>
	<input type="submit" value = Login />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
    <a href="/">Go back</a>
</center>
</body>
</html>
