<html>
<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
        
    <style type="text/css">
    body {
        background-color: powderblue;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    </style>
</head>
<body>
<center>
<form action="/registerAuth" method="POST">
	<input type="email" name="email" placeholder="email" required/> </br>
  <input type="password" name="password" placeholder="password" required/> </br>
  <input type="text" name="fname" placeholder="First Name" required/> </br>
  <input type="text" name="lname" placeholder="Last Name" required/> </br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<br>
  <a href="/">Go back</a>
</center>
</body>
</html>
