<html>
<head>
    <style>
        body {background-color: powderblue;}
    </style>
</head>
<body>

<form action="/registerAuth" method="POST">
	<input type="text" name="email" placeholder="email"/> </br>
  <input type="password" name="password" placeholder="password"/> </br>
  <input type="text" name="fname" placeholder="First Name"/> </br>
  <input type="text" name="lname" placeholder="Last Name"/> </br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

</body>
</html>
